* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: lightgrey;
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0%;
}

.nav-list {
  display: flex;
  list-style-type: none;
  font-size: 20px;
  font-weight: bold;
}

.nav-item {
  margin-right: 20px;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  border-bottom: 2px white dashed;
}

h1 {
  text-align: center;
  margin-top: 55px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: center;
}

.card {
  width: 200px;
  text-align: center;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 10px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card:hover {
  border: 2px solid orange;
}

.card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

.card-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.card-rating {
  margin-bottom: 5px;
}

.card-price {
  font-weight: bolder;
  margin-bottom: 10px;
}

.add-to-cart {
  color: white;
  background-color: rgb(26, 139, 26);
  border: 0px;
  border-radius: 5px;
  padding: 8px 16px;
  margin-left:25px;
  margin-right: 25px;
}

.add-to-cart:hover {
  background-color: rgb(48, 177, 48);
}
