h1,
h2,
h3 {
  font-size: 100px;
  background-color: aquamarine;
}

p {
  /* color: grey; -- word */
  /* color: rgb(from color 10 50 13); -- rgb */
  color: red;
  font-size: 30px;
  line-height: 2em;
  text-align: center;
}

#heading {
  color: blueviolet;
  font-size: 50px;
}
.green-text {
  color: green;
}
  .olo {
    font-size: 100px;
}

#btn1 {
  text-transform: uppercase;
}

#btn2 {
  text-transform: lowercase;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 100;
}

/* 

line-height - висота лінії
text-transform - приведення до якогось певного регістру
background-color - колір заднього фону
text-decoration - керування лініями під текстом (прибрати з посилання підкреслення)
font-weight - зробити текст жііірнііі (bold)

*/

